name: Build and Push Windows Docker Image

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - main
      - master

jobs:
  build-and-push:
    runs-on: windows-latest
    steps:
    - name: Check Out Repository
      uses: actions/checkout@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository }}/windows-app:latest

